
# Ignore Specific files, regardless of folder structure
**/azure_config.json
**/db_config.json
**/notes.txt
MyVirtualMachine.rdp
VizApp.pbix


# Ignore Folders
Web Scraper/pheq_env/
Web Scraper/logs/* 
!Web Scraper/logs/.gitkeep
Web Scraper/scraped_data/*
!Web Scraper/scraped_data/.gitkeep
DataProcessing/

# documents/
assets/
_misc/

# Python
__pycache__/
*.pyc 


# VS Code
.vscode/


# test comment

